header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    height: 70px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
    background-position: left;
}